<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Typography</title>
</head>
<body>
    <h1>Headings</h1>
    <h1>H1. Heading</h1>
    <h2>H2. Heading</h2>
    <h3>H3. Heading</h3>
    <h4>H4. Heading</h4>
    <h5>H5. Heading</h5>
    <h6>H6. Heading</h6>
    <h1>Using class for heading</h1>
    <p class="h1">H1. Heading</p>
    <div class="h2">H2. Heading</div>
    <span class="h3">H3. Heading</span>

    <h1>Text sizes</h1>
    <p class="text-xs">xs Text size checking</p>
    <p class="text-sm">sm Text size checking</p>
    <p class="text-md">md Text size checking</p>
    <p class="text-lg">lg Text size checking</p>
    <p class="text-xl">xl Text size checking</p>
    <p class="text-2xl">2xl Text size checking</p>
    <p class="text-3xl">3xl Text size checking</p>
    <p class="text-4xl">4xl Text size checking</p>

    <h1>Grey text</h1>
    <h1 class="grey-text">grey colored text</h1>

    <h1>Aligned text</h1>
    <p class="text-center">Text center</p>
    <p class="text-left">Text left</p>
    <p class="text-right">Text right</p>

    <h1>Other styles</h1>
    <p class="text-strike-through">Striked text</p>
    <p class="primary-text">Primary colored text</p>
    <p class="text-overline">Overlined text</p>
    <p class="text-underline">Underlined text</p>
    <p class="text-bold">Bold text</p>
</body>
</html>