<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Cards</title>
</head>
<body>
    <div class="card-container vertical">
        <div class="card-img vertical-img border-bottom">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-vertical">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
    </div>
    <div class="card-container vertical">
        <div class="card-img vertical-img border-bottom">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-vertical">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <div class="badge badge-offer">
            <span></span>
        </div>
    </div>
    <div class="card-container vertical">
        <div class="card-img vertical-img border-bottom">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-vertical">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <span class="badge-close">&times;</span>
    </div>
    <div class="card-container vertical overlay">
        <div class="card-img vertical-img border-bottom">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-vertical">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-disabled"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <span class="card-text-overlay out-of-stock">
            <h2>Out of Stock</h2>
        </span>
    </div>
    <div class="card-container vertical">
        <div class="card-img vertical-img border-bottom">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-vertical">
            <div class="rating text-sm margin-t">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <div class="card-text-overlay">
            <h2 class="card-heading">Apple</h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
        </div>
    </div>
    <div class="card-container horizontal">
        <div class="card-img horizontal-img border-right">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-horizontal">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <span class="badge-close">&times;</span>
    </div>
    <div class="card-container horizontal text-card text-justify">
        <div class="card-img horizontal-img border-right text-hide">
            <img src="../assets/images/apple.png" alt="Apple">
        </div>
        <div class="card-details card-details-horizontal text-hide">
            <h2 class="card-heading">Apple<span><i class="far fa-heart"></i></span></h2>
            <p class="card-sub-heading">Fresh apple from farm</p>
            <div class="rating text-sm">
                <span class="rating-value">4.3<i class="fa fa-star checked margin-l"></i></span>
                (<span class="rating-number">2333</span>)
            </div>
            <h4 class="product-price">Rs.120 <span class="original-price text-strike-through">Rs.150</span><span class="discount-percentage">20% off</span></h4>
            <button class="btn btn-icon-text-primary-outline"><span class="btn-icon"><i class="fa fa-shopping-basket margin-r"></i></span>Add to Basket</button>
        </div>
        <span class="badge-close">&times;</span>
    </div>
    <div class="card-container horizontal">
        <div class="card-details card-details-horizontal">
            <h2 class="card-heading">Text Heading<span><i class="far fa-heart"></i></span></h2>
            <p class="text-justify">This is text card used to display the text paragraph in the card Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <button class="btn btn-outline-primary">Send Message</button>
        </div>
        <span class="badge-close">&times;</span>
    </div>
</body>
</html>