.card-container{
    margin: 1rem;
    padding: 0 5px ;
    border-radius: 8px;
    box-shadow: 0px 0px 7px var(--primary-color);
    position: relative;
}

.card-container:hover{
    transform: scale(1.02);
    transition: .4s;
}

.vertical{
    height: fit-content;
    width: 20rem;
    padding: 10px;
    box-sizing: border-box;
}

.horizontal{
    box-sizing: border-box;
    display: flex;
    width: 39rem;
    height: fit-content;
    padding: 10px;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    min-height: 18rem;
    border-radius: 10px;
    padding: 5px;
}

.card-img img{
    width: 100%;
    height: 100%;
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.card-heading{
    font-size: 2rem;
    margin: 5px 0; 
    display: flex;
    justify-content: space-between;
}

.card-sub-heading{
    font-size: 1.5rem;
    margin: 3px 0;
}

.rating{
    margin: 3px 0;
}

.rating-data{
    font-size: 1.4rem;
}

.rating-value{
    width: 2rem;
    height: auto;
    background: var(--primary-color);
    padding: 4px;
    color: var(--secondary-text-color);
}

.product-price{
    font-size: 1.5rem;
    margin: 5px 0;
}

.original-price{
    font-size: 1.3rem;
    font-weight: 500;
}

.discount-percentage{
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3px;
    color: var(--primary-color);
}

.card-details button{
    margin-top: 6px;
}

.card-details-horizontal{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.checked{
    color: var(--secondary-color);
}

/*Badge for new Arrivals*/
.badge-new-box{
    background-color: var(--secondary-color);
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    top: 4px;
    right: -2.5rem;
    border: 3px solid var(--primary-background);
}

/*Badge for closing action*/
.badge-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.overlay{
    opacity: 0.6;
    cursor: not-allowed;
}

.card-text-overlay{
    position: absolute;
    bottom: 40%;
    margin-left: 5px;
}

.out-of-stock{
    bottom: 14rem;
    left: 15%;
    transform: rotate(-55deg);
    color: var(--primary-text-color);
}

.text-card{
    padding: 3rem;
}

.text-hide{
    display: none;
}

.text-card::after{
    content: "This is text card used to display the text paragraph in the card Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ";
    font-size: 1.5rem;
}

