<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Slider</title>
</head>
<body>
    <div class="range-slider">
        <input type="range" name="price" id="price" min="0" max="1000" value="0" onchange="rangeSlide(this.value)">
        <i class="fa fa-inr margin-l text-sm">.</i><span class="range-value text-md text-bold">0</span>
    </div>
    <script src="slider.js"></script>
</body>
</html>