<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body>
    <h1>Unordered lists</h1>
    <ul class="bullet-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ul>
    <ul class="square-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ul>
    <ul class="circle-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ul>
    <h1>ordered list</h1>
    <ol class="number-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ol class="number-style" reversed>
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ol class="capital-letter-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ol class="small-letter-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ol class="bigger-roman-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ol class="lower-roman-style">
        <li>Item-1</li>
        <li>Item-2</li>
        <li>Item-3</li>
    </ol>
    <ul class="input-lists">
        <label for="input-1">
            <input type="checkbox" name="input-1" class="margin-r">Input-1
        </label>
        <label for="input-2">
            <input type="checkbox" name="input-2" class="margin-r">Input-2
        </label>
    </ul>
    <h1>stacked list</h1>
    <ul class="list-style-none stacked-container">
        <li>Notification-1</li>
        <li>Notification-2</li>
        <li>Notification-3</li>
        <li>Notification-4</li>
    </ul>
</body>
</html>