<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Chips</title>
</head>
<body>
    <div class="chip icon-chip">
        <img class="chip-picture margin-r" src="../assets/images/avatar.png" alt="picture">
        <span class="chip-text margin-r">John Doe</span> 
        <span class="chip-close margin-r text-bold" onclick="this.parentElement.style.display='none'">&times;</span>
    </div>

    <div class="chip text-chip">
        <span class="chip-text margin-r">John Doe</span> 
        <span class="chip-close text-bold" onclick="this.parentElement.style.display='none'">&times;</span>
    </div>
    
    <span class="chip text-chip">
        John Doe
    </span>
</div>
</body>
</html>