.chip{
    width: fit-content;
    height: 6rem;
    border-radius: 50px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border: 2px solid var(--border-white);
}

.icon-chip{
    padding-right: 1rem;
}

.chip-picture{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--border-white);
}

.chip-close{
    cursor: pointer;
    font-size: 2.5rem;
}

.chip-close:hover{
    color: var(--close-btn);
}

.text-chip{
    padding: 5px 20px;
}
