<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Navigation</title>
</head>
<body>
    <nav class="navigation-bar">
        <section class="brand logo">
                <a href="#" >
                    <img src="../assets/brand-logo/freshbuy-logo.png" alt="logo">
                </a>
        </section>
        <section class="search-item">
            <div class="input search-field outlined ">
                <button class="search-icon"><i class="fa fa-search"></i></button>
                <input type="text" name="username" placeholder="Search here...">
            </div>
        </section>
        <ul class="list-style-none account-data">
            <li class="list-inline-item">
                <a href="#" class="btn btn-solid-primary link-btn">Login</a>
            </li>
            <li class="list-inline-item">
                <div class="avatar avatar-text-xs avatar-text img-round user-profile" role="img" alt="Avatar">AB</div>
            </li>
            <li class="list-inline-item">
                <button class="badge-container badge-btn">
                    <a href="#">
                        <i class="fas fa-heart icon"></i>
                        <span class="status-badge-icon bg-red">5</span>
                    </a> 
                </button>
            </li>
            <li class="list-inline-item">
                <button class="badge-container badge-btn">
                    <a href="#">
                        <i class="fas fa-cart-shopping"></i>
                        <span class="status-badge-icon bg-red">3</span> 
                    </a>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-icon-primary user-signout">
                    <a href="#">
                        <i class="fa fa-sign-out fa-2x"></i>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</body>
</html>