<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Badges</title>
</head>
<body>
    <h1 class="component-name">Badge</h1>
    <div class="avatar">
        <img class="img-responsive img-round avatar-lg" src="../assets/images/avatar.png" alt="Avatar">
        <span class="status-badge-avatar badge-status-busy"></span>
    </div>
    <div class="avatar">
        <img class="img-responsive img-round avatar-md" src="../assets/images/avatar.png" alt="Avatar">
        <span class="status-badge-avatar badge-status-available"></span>
    </div>
    <div class="avatar">
        <img class="img-responsive img-round avatar-sm" src="../assets/images/avatar.png" alt="Avatar">
        <span class="status-badge-avatar badge-status-away"></span>
    </div>
    <div class="avatar">
        <img class="img-responsive img-round avatar-xs" src="../assets/images/avatar.png" alt="Avatar">
        <span class="status-badge-avatar badge-status-busy"></span>
    </div>
    <button class="badge-container badge-btn margin">
        <i class="fas fa-envelope"></i>
        <span class="status-badge-icon background-primary">30+</span>
    </button>
    <button class="badge-container badge-btn margin">
        <i class="fas fa-cart-shopping"></i>
        <span class="status-badge-icon background-primary">30</span>
    </button>
    <button class="badge-container badge-btn margin">
        <i class="fas fa-home"></i>
        <span class="status-badge-icon background-primary">3</span>
    </button>
    <button class="badge-container badge-btn margin">
        <i class="fab fa-whatsapp"></i>
        <span class="status-badge-icon background-primary">30+</span>
    </button>
    <h1>Demo for Heading with Badge <span class="text-badge background-primary border-curve-badge">New</span></h1>
    <h2>Demo for Heading with Badge <span class="text-badge background-primary round-pill-badge">New</span></h2>
    <h3>Demo for Heading with Badge <span class="text-badge background-primary border-curve-badge">New</span></h3>
    <h4>Demo for Heading with Badge <span class="text-badge background-primary border-curve-badge">New</span></h4>
    <h5>Demo for Heading with Badge <span class="text-badge background-primary round-pill-badge">New</span></h5>
    <h6>Demo for Heading with Badge <span class="text-badge background-primary border-curve-badge">New</span></h6>
    <p>Demo for Paragraph with Badge <span class="text-badge background-primary border-curve-badge">New</span></p>

    <h1>Badge for cards</h1>
    <div class="card">
        <div class="badge badge-offer">
            <span></span>
        </div>
    </div>
    <div class="card">
        <div class="badge badge-new">
            <span></span>
        </div>
    </div>
</body>
</html>