.modal-container{
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: var(--modal-background);
      position:fixed;
      z-index: 1; 
}

.modal{
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-black);
    z-index: 1; 
}

.modal-header{
    border-bottom: 1px solid var(--border-black);
}

.modal-content{
    padding: 1rem 0;
    text-align: justify;
    border-bottom: 1px solid var(--border-black);
}

.modal-actions{
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}