<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Snackbar</title>
</head>
<body>
        <div class="snackbar-content">
            <p>This is to test Snackbar Working</p>
            <button class="snackbar-button text-bold">RETRY</button>
            <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
        <div class="snackbar-content-stacked">
            <p>This is to test Snackbar Working, It contains Button</p>
            <section class="actions margin-b">
                <button class="snackbar-button text-bold">ADD A NEW LABEL</button>
                <span class="close">&times;</span>
            </section>
        </div>
</body>
</html>