<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Alerts</title>
</head>
<body>
    <h1>Alert Components</h1>
        <h2>Solid alerts</h2>
        <div class="alert-container alert-primary-solid">
            <span><i class="margin-r fa fa-info-circle"></i></span>
            3 messages in incontainer
        </div>
        <div class="alert-container alert-success-solid">
            <span><i class="margin-r fas fa-check-circle"></i></span>
            Congratulations! Successfully subscribed.
        </div>
        <div class="alert-container alert-danger-solid">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Error! Database connection failed.
        </div>
        <div class="alert-container alert-warning-solid">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.
        </div>
        <div class="alert-container alert-warning-solid alert-warning-close">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.
            <button class="alert-close alert-warning-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
        <h2>Outlined alerts</h2>
        <div class="alert-container alert-primary-outline">
            <span><i class="margin-r fa fa-info-circle"></i></span>
            3 messages in incontainer.
        </div>
        <div class="alert-container alert-success-outline">
            <span><i class="margin-r fas fa-check-circle"></i></span>
            Congratulations! Successfully subscribed.
        </div>
        <div class="alert-container alert-danger-outline">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Error! Database connection failed.
        </div>
        <div class="alert-container alert-warning-outline">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.
        </div>
        <div class="alert-container alert-warning-outline alert-warning-close">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.
            <button class="alert-close alert-warning-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
        <h2>Linked Alerts</h2>
        <div class="alert-container alert-primary-outline">
            <span><i class="margin-r fa fa-info-circle"></i></span>
            3 messages in incontainer.<a class="alert-link alert-link-primary" href="#">Click here for more information</a>
        </div>
        <div class="alert-container alert-success-outline">
            <span><i class="margin-r fas fa-check-circle"></i></span>
            Congratulations! Successfully subscribed.<a class="alert-link alert-link-success" href="#">Click here for more information</a>
        </div>
        <div class="alert-container alert-danger-outline">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Error! Database connection failed.<a class="alert-link alert-link-danger" href="#">Click here for more information</a>
        </div>
        <div class="alert-container alert-warning-outline">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.<a class="alert-link alert-link-warning" href="#">Click here for more information</a>
        </div>
        <div class="alert-container alert-warning-outline alert-warning-close">
            <span><i class="margin-r fas fa-exclamation-triangle"></i></span>
            Warning! There was problem in your connection.<a class="alert-link alert-link-warning" href="#">Click here for more information</a>
            <button class="alert-close alert-warning-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
</body>
</html>